<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <meta name="msapplication-tap-highlight" content="no" />

        <!-- Metro UI CSS 2.0 -->
        <link rel="stylesheet" href="./css/metro-bootstrap.min.css" />
        <link rel="stylesheet" href="./css/metro-bootstrap-responsive.min.css" />
        <script src="./js/vendor/jquery/jquery-2.1.1.min.js"></script>
        <script src="./js/vendor/jquery/jquery.ui.widget.min.js"></script>
        <!--<script src="./js/vendor/jquery/jquery-ui.min.js"></script>-->
        <script src="./js/vendor/jquery/jquery.mousewheel.js"></script>
        <script src="./js/vendor/metro.min.js"></script>

        <!-- AngularJS -->
        <script src="./js/vendor/angular.js"></script>
        <script src="./js/vendor/ui-bootstrap-tpls-0.12.0.min.js"></script>
        <script src="./app/app.js"></script>
        <script src="./app/controllers/ToDoController.js"></script>
        <script src="./app/controllers/TabController.js"></script>
        <script src="./app/controllers/ModalController.js"></script>
        <script src="./app/controllers/ModalInstanceController.js"></script>
        <script src="./app/services/services.js"></script>
        <script src="./app/directives/directives.js"></script>

        <title>ToDo Application</title>
    </head>
    <body class="metro" bgcolor="#1d1d1d" ng-app="ToDoApp" ng-controller="ToDoController"><!--ng-controller="TabController as panel">-->
        <!--<header class="bg-dark"><div class="fg-white">ToDo List</div></header>-->
        <div class="container">
            <!--<div class="grid">
                <div class="row">
                    <div class="span8 offset2">
                        <p>
                            <div class="input-control text">
                                <input type="text" placeholder="Add a new todo..." ng-text-change="addToDo()" ng-model="newToDoTitle" autofocus></input>
                                <!-<button class="btn-clear"></button>->
                            </div>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="span8 offset2">
                        <div class="button-set no-spaces">
                            <button class="span4" ng-class="{active: panel.isSelected(1)}" ng-click="panel.selectTab(1)">Open</button>
                            <button class="span4" ng-class="{active: panel.isSelected(2)}" ng-click="panel.selectTab(2)">Done</button>
                        </div>
                    </div>
                </div>-->
                <!--<div class="row">-->
                    <!--<div class="span8 offset2" ng-show="panel.isSelected(1)">-->
                    <!--<div ng-show="panel.isSelected(1)">-->
                        <div class="tile-area tile-area-dark" style="padding:20px 10px 0px 10px;">
                            <h2 class="tile-area-title fg-white" style="position:relative;left:0px;top:0px;padding:0px 0px 20px 0px">ToDo's</h2>
                            
                            <div class="input-control text">
                                <input type="text" placeholder="Add a new todo..." ng-text-change="addToDo()" ng-model="newToDoTitle" autofocus></input>
                                <!--<button class="btn-clear"></button>-->
                            </div>

                            <div ng-controller="ModalController">
                                <div class="tile-group two" style="margin:0px 80px 0px 0px;">
                                    <div class="tile-group-title">Open</div>
                                    <div ng-repeat="toDoItem in todos" ng-if="!toDoItem.done">
                                        <div class="tile bg-darkCobalt" ng-click="open(toDoItem)">
                                            <div class="tile-content fg-white text-center">{{toDoItem.title}}</div>
                                            <div class="brand bg-black">
                                                <span class="label fg-white"><small>{{toDoItem.createDate}}</small></span>
                                                <div ng-class="{'badge bg-red': !toDoItem.done, 'badge bg-green': toDoItem.done}">{{todos.indexOf(toDoItem)}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tile-group two">
                                    <div class="tile-group-title">Done</div>
                                    <div ng-repeat="toDoItem in todos" ng-if="toDoItem.done">
                                        <div class="tile bg-darkCobalt" ng-click="open(toDoItem)">
                                            <div class="tile-content fg-white text-center">{{toDoItem.title}}</div>
                                            <div class="brand bg-black">
                                                <span class="label fg-white"><small>{{toDoItem.createDate}}</small></span>
                                                <div ng-class="{'badge bg-red': !toDoItem.done, 'badge bg-green': toDoItem.done}">{{todos.indexOf(toDoItem)}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<ul class="topcoat-list__container" ng-repeat="toDoItem in todos" ng-show="!toDoItem.done">
                            <li class="topcoat-list__item">
                                <table>
                                    <colgroup>
                                        <col span="1" style="width:3%">
                                        <col span="1" style="width:5%">
                                        <col span="1" style="width:72%">
                                        <col span="1" style="width:15%">
                                        <col span="1" style="width:5%">
                                    </colgroup>
                                    <tr>
                                        <td class="text-center">
                                            <div ng-class="{'text-muted': toDoItem.done}">{{todos.indexOf(toDoItem)}}</div>
                                        </td>
                                        <td>
                                            <button class="success" ng-click="toggleToDoDone(toDoItem)">Done</button>
                                            <div class="input-control checkbox" ng-mousedown="toggleToDoDone(toDoItem)">
                                                <label>
                                                    <input type="checkbox"/>
                                                    <span class="check"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="input-control text">
                                                <input type="text" ng-class="{'text-muted': toDoItem.done}" ng-text-change="changeToDoTitle(toDoItem)" ng-model="toDoItem.title"/>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div ng-class="{'text-muted': toDoItem.done}">{{toDoItem.createDate}}</div>
                                        </td>
                                        <td class="text-center">
                                            <button class="danger" ng-click="removeToDo(toDoItem)">Remove</button>
                                        </td>
                                    </tr>
                                </table>
                            </li>
                        </ul>-->
                    <!--</div>-->

                    <!--<div class="topcoat-list" ng-show="panel.isSelected(2)">
                        <ul class="topcoat-list__container" ng-repeat="toDoItem in todos" ng-show="toDoItem.done">
                            <li class="topcoat-list__item">
                                <table>
                                    <colgroup>
                                        <col span="1" style="width:3%">
                                        <col span="1" style="width:5%">
                                        <col span="1" style="width:72%">
                                        <col span="1" style="width:15%">
                                        <col span="1" style="width:5%">
                                    </colgroup>
                                    <tr>
                                        <td class="center">
                                            {{todos.indexOf(toDoItem)}}
                                        </td>
                                        <td>
                                            <label class="topcoat-checkbox">
                                                <input type="checkbox" ng-mousedown="toggleToDoDone(toDoItem)" checked><div class="topcoat-checkbox__checkmark"/></input>
                                            </label>
                                        </td>
                                        <td class="center">
                                            <input type="text" class="topcoat-text-input full" ng-text-change="changeToDoTitle(toDoItem)" ng-model="toDoItem.title"/>
                                        </td>
                                        <td class="center">
                                            {{toDoItem.createDate}}
                                        </td>
                                        <td class="center">
                                            <button class="topcoat-button" ng-click="removeToDo(toDoItem)">Remove</button>
                                        </td>
                                    </tr>
                                </table>
                            </li>
                        </ul>
                    </div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <script src="./js/index.js"></script>
        <script type="text/javascript">
            app.initialize();
        </script>
    </body>
</html>
