<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <meta name="msapplication-tap-highlight" content="no" />

        <!-- Topcoat -->
        <link rel="stylesheet" href="./css/topcoat-mobile-dark.min.css" >

        <!-- AngularJS -->
        <script src="./js/vendor/angular.js"></script>
        <script src="./app/app.js"></script>
        <script src="./app/controllers/ToDoController.js"></script>
        <script src="./app/controllers/TabController.js"></script>
        <script src="./app/services/services.js"></script>
        <script src="./app/directives/directives.js"></script>

        <title>ToDo Application</title>
    </head>
    <body ng-app="ToDoApp" ng-controller="TabController as panel">
        <div class="topcoat-navigation-bar">
            <div class="topcoat-navigation-bar__item center full">
                <h1 class="topcoat-navigation-bar__title">ToDo List</h1>
            </div>
        </div>
        
        <div id='content' ng-controller="ToDoController">
            <p>
                <div>
                    <input type="text" class="topcoat-text-input full" placeholder="Add a new todo..." ng-text-change="addToDo()" ng-model="newToDoText" autofocus>
                </div>
            </p>
            <div>
                <p>
                    <div class="topcoat-tab-bar full">
                        <label class="topcoat-tab-bar__item">
                            <input type="radio" name="tab-bar" ng-checked="panel.selectedTab == 1">
                                <button class="topcoat-tab-bar__button full" ng-click="panel.selectTab(1)">Open</button>
                            </input>
                        </label>
                        <label class="topcoat-tab-bar__item">
                            <input type="radio" name="tab-bar" ng-checked="panel.selectedTab == 2">
                                <button class="topcoat-tab-bar__button full" ng-click="panel.selectTab(2)">Done</button>
                            </input>
                        </label>
                    </div>
                </p>

                <div class="topcoat-list" ng-show="panel.isSelected(1)">
                    <ul class="topcoat-list__container" ng-repeat="toDoItem in todos" ng-show="!toDoItem.done">
                        <li class="topcoat-list__item">
                            <table>
                                <colgroup>
                                    <col span="1" style="width:3%">
                                    <col span="1" style="width:5%">
                                    <col span="1" style="width:72%">
                                    <col span="1" style="width:15%">
                                    <col span="1" style="width:5%">
                                </colgroup>
                                <tr>
                                    <td class="center">
                                        <div>{{todos.indexOf(toDoItem)}}</div>
                                    </td>
                                    <td>
                                        <label class="topcoat-checkbox">
                                            <input type="checkbox" ng-mousedown="toggleToDoDone(toDoItem)"><div class="topcoat-checkbox__checkmark"/></input>
                                        </label>
                                    </td>
                                    <td class="center">
                                        <input type="text" class="topcoat-text-input full" ng-text-change="changeToDoText(toDoItem)" ng-model="toDoItem.text"/>
                                    </td>
                                    <td class="center">
                                        <div>{{toDoItem.createDate}}</div>
                                    </td>
                                    <td class="center">
                                        <button class="topcoat-button" ng-click="removeToDo(toDoItem)">Remove</button>
                                    </td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                </div>

                <div class="topcoat-list" ng-show="panel.isSelected(2)">
                    <ul class="topcoat-list__container" ng-repeat="toDoItem in todos" ng-show="toDoItem.done">
                        <li class="topcoat-list__item">
                            <table>
                                <colgroup>
                                    <col span="1" style="width:3%">
                                    <col span="1" style="width:5%">
                                    <col span="1" style="width:72%">
                                    <col span="1" style="width:15%">
                                    <col span="1" style="width:5%">
                                </colgroup>
                                <tr>
                                    <td class="center">
                                        {{todos.indexOf(toDoItem)}}
                                    </td>
                                    <td>
                                        <label class="topcoat-checkbox">
                                            <input type="checkbox" ng-mousedown="toggleToDoDone(toDoItem)" checked><div class="topcoat-checkbox__checkmark"/></input>
                                        </label>
                                    </td>
                                    <td class="center">
                                        <input type="text" class="topcoat-text-input full" ng-text-change="changeToDoText(toDoItem)" ng-model="toDoItem.text"/>
                                    </td>
                                    <td class="center">
                                        {{toDoItem.createDate}}
                                    </td>
                                    <td class="center">
                                        <button class="topcoat-button" ng-click="removeToDo(toDoItem)">Remove</button>
                                    </td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <script src="./js/index.js"></script>
        <script type="text/javascript">
            app.initialize();
        </script>
    </body>
</html>
