<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <meta name="msapplication-tap-highlight" content="no" />

        <!-- Bootstrap -->
        <link rel="stylesheet" href="./css/bootstrap.min.css" >
        <!-- Topcoat -->
        <link rel="stylesheet" href="./css/topcoat-mobile-dark.min.css" >

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" src="./js/vendor/jquery-1.11.1.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src="./js/vendor/bootstrap.min.js"></script>

        <!-- AngularJS -->
        <script type="text/javascript" src="./js/vendor/angular.js"></script>
        <script type="text/javascript" src="./app/app.js"></script>
        <script type="text/javascript" src="./app/controllers/ToDoController.js"></script>
        <script type="text/javascript" src="./app/controllers/TabController.js"></script>
        <script type="text/javascript" src="./app/services/services.js"></script>
        <script type="text/javascript" src="./app/directives/directives.js"></script>
        

        <title>ToDo Application</title>
    </head>
    <body ng-app="ToDoApp" ng-controller="TabController as panel">
        <div class="topcoat-navigation-bar">
            <div class="topcoat-navigation-bar__item center full">
                <h1 class="topcoat-navigation-bar__title">ToDo List</h1>
            </div>
        </div>
        

        <div id='content' class='container-fluid' ng-controller="ToDoController">
            <p>
                <div class='row'>
                    <div class='col-md-6 col-md-offset-3'>
                        <input type="text" class="topcoat-text-input full" placeholder="What needs to be done?" ng-text-change="addToDo()" ng-model="newToDoText" autofocus>
                    </div>
                </div>
            </p>
            <div class='row'>
                <div class='col-md-6 col-md-offset-3'>
                    <p>
                        <div class="topcoat-tab-bar full">
                            <label class="topcoat-tab-bar__item">
                                <input type="radio" name="tab-bar" checked>
                                    <button class="topcoat-tab-bar__button full" ng-click="panel.selectTab(1)">Open</button>
                                </input>
                            </label>
                            <label class="topcoat-tab-bar__item">
                                <input type="radio" name="tab-bar">
                                    <button class="topcoat-tab-bar__button full" ng-click="panel.selectTab(2)">Done</button>
                                </input>
                            </label>
                        </div>
                    </p>

                    <div class="topcoat-list" ng-show="panel.isSelected(1)">
                        <ul class="topcoat-list__container" ng-repeat="toDoItem in todos" ng-show="!toDoItem.done">
                            <li class="topcoat-list__item">
                                <table>
                                    <colgroup>
                                        <col span="1" style="width:2%">
                                        <col span="1" style="width:3%">
                                        <col span="1" style="width:65%">
                                        <col span="1" style="width:5%">
                                    </colgroup>
                                    <tr>
                                        <td>
                                            {{todos.indexOf(toDoItem)}}
                                        </td>
                                        <td>
                                            <label class="topcoat-checkbox">
                                                <input type="checkbox" ng-mousedown="toggleToDoDone(toDoItem)"><div class="topcoat-checkbox__checkmark"/></input>
                                            </label>
                                        </td>
                                        <td>
                                            <input type="text" class="topcoat-text-input full" ng-text-change="changeToDoText(toDoItem)" ng-model="toDoItem.text"/>
                                        </td>
                                        <td style="float:right">
                                            <button class="topcoat-button" ng-click="removeToDo(toDoItem)">Remove</button>
                                        </td>
                                    </tr>
                                </table>
                            </li>
                        </ul>
                    </div>

                    <div class="topcoat-list" ng-show="panel.isSelected(2)">
                        <ul class="topcoat-list__container" ng-repeat="toDoItem in todos" ng-show="toDoItem.done">
                            <li class="topcoat-list__item">
                                <table>
                                    <colgroup>
                                        <col span="1" style="width:2%">
                                        <col span="1" style="width:3%">
                                        <col span="1" style="width:65%">
                                        <col span="1" style="width:5%">
                                    </colgroup>
                                    <tr>
                                        <td>
                                            {{todos.indexOf(toDoItem)}}
                                        </td>
                                        <td>
                                            <label class="topcoat-checkbox">
                                                <input type="checkbox" ng-mousedown="toggleToDoDone(toDoItem)" checked><div class="topcoat-checkbox__checkmark"/></input>
                                            </label>
                                        </td>
                                        <td>
                                            <input type="text" class="topcoat-text-input full" ng-text-change="changeToDoText(toDoItem)" ng-model="toDoItem.text"/>
                                        </td>
                                        <td style="float:right">
                                            <button class="topcoat-button" ng-click="removeToDo(toDoItem)">Remove</button>
                                        </td>
                                    </tr>
                                </table>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="./js/index.js"></script>
        <script type="text/javascript">
            app.initialize();
        </script>
    </body>
</html>
