<div class="message-dialog span6 offset3" ng-controller="ToDoController">
	<div class="modal-header">
	    <h4 class="modal-title">ToDo Details</h4>
	</div>
	<div class="modal-body">
		<form class="user-input bg-dark" ng-model="toDoItem">
		       <label>ToDo title:</label>
		       <div class="input-control text">
		              <input type="text" ng-class="{'text-muted': toDoItem.done}" ng-text-change="changeToDoTitle(toDoItem)" ng-model="toDoItem.title"/>
		       </div>
		       <label>ToDo description:</label>
		       <div class="input-control textarea">
		              <input type="text" ng-class="{'text-muted': toDoItem.done}" ng-text-change="changeToDoDescription(toDoItem)" ng-model="toDoItem.description"/>
		       </div>
		       <label>ToDo created at:</label>
		       <div ng-class="{'text-muted': toDoItem.done}">{{toDoItem.createDate}}</div>
		</form>
	</div>
	<div class="modal-footer">
	    <button class="success" ng-click="toggleToDoDone(toDoItem)" ng-show="!toDoItem.done">Done</button>
	    <button class="warning" ng-click="toggleToDoDone(toDoItem)" ng-show="toDoItem.done">Undone</button>
	    <button class="danger" ng-click="close().then(removeToDo(toDoItem))">Remove</button>
	    <button class="button" ng-click="close()">Close</button>
	</div>
</div>